- Import libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Object creation
s=pd.Series([1, 2, 3, 4, 5, 6 ,7 ,8, 9]) #on the left side number from 0-8 are representing row headings.
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [4]:
#adding empty cell
w=pd.Series([1, 2, 4, np.nan, 6, 7, 8])
w

0    1.0
1    2.0
2    4.0
3    NaN
4    6.0
5    7.0
6    8.0
dtype: float64

In [5]:
#date range
dates=pd.date_range("20220101", periods=10)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
#Let's create data frame from above data
import pandas as pd
import numpy as np
dates=pd.date_range("20220101", periods=10)
dates
df=pd.DataFrame(np.random.randn(10,4), index=dates, columns=list("ABDC")) #10= rows, 4=col, ABDC= columns name, index= data of dates we created. 
df

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-08  0.393758  0.493581 -2.213503  1.237396
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [7]:
#Let's create another dataframe
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20210102"),
        "C": pd.Series(1, index=list(range(4)), dtype= "float32"), 
        "D": np.array([3]*4, dtype=("int32")),
        "E": pd.Categorical(["girl", "woman", "girl", "women"]),
        "F": "female",})
        
df2

     A          B    C  D      E       F
0  1.0 2021-01-02  1.0  3   girl  female
1  1.0 2021-01-02  1.0  3  woman  female
2  1.0 2021-01-02  1.0  3   girl  female
3  1.0 2021-01-02  1.0  3  women  female

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
#Let's view the data
df2.head() #this function generally shows first five rows. However, we can put manual numbers.

     A          B    C  D      E       F
0  1.0 2021-01-02  1.0  3   girl  female
1  1.0 2021-01-02  1.0  3  woman  female
2  1.0 2021-01-02  1.0  3   girl  female
3  1.0 2021-01-02  1.0  3  women  female

In [10]:
df2.tail(2) #this function shows last rows.

     A          B    C  D      E       F
2  1.0 2021-01-02  1.0  3   girl  female
3  1.0 2021-01-02  1.0  3  women  female

In [11]:
df2.index #index means row headings

Int64Index([0, 1, 2, 3], dtype='int64')

In [12]:
#Let's convert dataframe into numpy array
df.to_numpy ()

array([[ 0.13533182, -1.32151602, -0.14057496,  0.67196997],
       [ 0.36050304, -0.33122503,  0.14914242, -1.02255373],
       [ 1.06222567, -0.31067533,  0.36420281,  1.18687181],
       [ 0.84102106,  0.3332993 , -0.21486944, -0.54044436],
       [-0.39490261,  1.39595066, -0.31291765,  0.21652677],
       [-1.024692  , -1.04217715,  0.55105107, -0.59422076],
       [-2.1055842 ,  1.111062  ,  0.28994212,  0.30201818],
       [ 0.39375834,  0.49358142, -2.21350327,  1.23739569],
       [-0.57168063, -0.73692807, -0.16676267,  0.26260935],
       [-1.00929678,  1.4276265 ,  1.06672851, -1.50721889]])

In [13]:
df2.to_numpy()

array([[1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'woman', 'female'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'women', 'female']],
      dtype=object)

In [14]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [15]:
#transpose the data
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2021-01-02 00:00:00,2021-01-02 00:00:00,2021-01-02 00:00:00,2021-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,woman,girl,women
F,female,female,female,female

In [16]:
#sorting of data
df.sort_index(axis=0, ascending=True)

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-08  0.393758  0.493581 -2.213503  1.237396
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [17]:
#sorting values based on a column
df.sort_values(by="B", ascending=True)

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-08  0.393758  0.493581 -2.213503  1.237396
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [18]:
#selecting a specific column
df["A"]

2022-01-01    0.135332
2022-01-02    0.360503
2022-01-03    1.062226
2022-01-04    0.841021
2022-01-05   -0.394903
2022-01-06   -1.024692
2022-01-07   -2.105584
2022-01-08    0.393758
2022-01-09   -0.571681
2022-01-10   -1.009297
Freq: D, Name: A, dtype: float64

In [19]:
df[0:]

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-08  0.393758  0.493581 -2.213503  1.237396
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [20]:
df[0:1]

                   A         B         D        C
2022-01-01  0.135332 -1.321516 -0.140575  0.67197

In [21]:
df[0:5] #we can use this function for row wise selection.

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527

In [22]:
#selection by label 
df.loc[dates[0]] 
#this is also row wise selection

A    0.135332
B   -1.321516
D   -0.140575
C    0.671970
Name: 2022-01-01 00:00:00, dtype: float64

In [23]:
df.loc[dates[1]] #row wise selection

A    0.360503
B   -0.331225
D    0.149142
C   -1.022554
Name: 2022-01-02 00:00:00, dtype: float64

In [24]:
df.loc[:, ["A", "B"]] #column wise selection

                   A         B
2022-01-01  0.135332 -1.321516
2022-01-02  0.360503 -0.331225
2022-01-03  1.062226 -0.310675
2022-01-04  0.841021  0.333299
2022-01-05 -0.394903  1.395951
2022-01-06 -1.024692 -1.042177
2022-01-07 -2.105584  1.111062
2022-01-08  0.393758  0.493581
2022-01-09 -0.571681 -0.736928
2022-01-10 -1.009297  1.427627

In [25]:
df.loc["20220102":"2022-01-04", ["C", "D"]] #here : means that show us the value from 02 to 04 date.

                   C         D
2022-01-02 -1.022554  0.149142
2022-01-03  1.186872  0.364203
2022-01-04 -0.540444 -0.214869

In [26]:
#Let's use , instead of :
df.loc[["20220102", "2022-01-04"], ["C", "D"]] #here , gave us the values of 02 and 04 dates.

                   C         D
2022-01-02 -1.022554  0.149142
2022-01-04 -0.540444 -0.214869

In [27]:
df.loc[["20220102", "2022-01-04"], ["A", "C", "D"]]

                   A         C         D
2022-01-02  0.360503 -1.022554  0.149142
2022-01-04  0.841021 -0.540444 -0.214869

In [28]:
df.loc["20220108", ["A", "B"]] # we can get data of a single date for specific columns using this function.

A    0.393758
B    0.493581
Name: 2022-01-08 00:00:00, dtype: float64

In [29]:
df.at[dates[4], "A"] #this function can be used to get the value of a column on a specific date.

-0.3949026074246438

In [30]:
df.at[dates[1], "B"]

-0.33122503106344303

In [31]:
#selection based on position
df.iloc[3] 
# this is showing values of all columns based on the position of date "2022-01-04" which is presentn on third position.

A    0.841021
B    0.333299
D   -0.214869
C   -0.540444
Name: 2022-01-04 00:00:00, dtype: float64

In [32]:
df.iloc[3:8] #showing data from date 03 to 08.

                   A         B         D         C
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-08  0.393758  0.493581 -2.213503  1.237396

In [33]:
df.iloc[0:4, 0:3] #here 0:4 are rows and 0:3 are columns. Rows are always on left side.

                   A         B         D
2022-01-01  0.135332 -1.321516 -0.140575
2022-01-02  0.360503 -0.331225  0.149142
2022-01-03  1.062226 -0.310675  0.364203
2022-01-04  0.841021  0.333299 -0.214869

In [34]:
df.iloc[0:7, :] #this function can be used to get all columns.

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018

In [35]:
df.iloc[:, 0:4] #this is also column wise filteration or selection.

                   A         B         D         C
2022-01-01  0.135332 -1.321516 -0.140575  0.671970
2022-01-02  0.360503 -0.331225  0.149142 -1.022554
2022-01-03  1.062226 -0.310675  0.364203  1.186872
2022-01-04  0.841021  0.333299 -0.214869 -0.540444
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-08  0.393758  0.493581 -2.213503  1.237396
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [36]:
df[df["A"]> 1] #this will only show us the data of column a which has value more than 1.

                   A         B         D         C
2022-01-03  1.062226 -0.310675  0.364203  1.186872

In [37]:
df[df["B"]>1]

                   A         B         D         C
2022-01-05 -0.394903  1.395951 -0.312918  0.216527
2022-01-07 -2.105584  1.111062  0.289942  0.302018
2022-01-10 -1.009297  1.427627  1.066729 -1.507219

In [38]:
df[df>1] #only positive values will be shown. Negative and less than 1 values will become NaN.

                   A         B         D         C
2022-01-01       NaN       NaN       NaN       NaN
2022-01-02       NaN       NaN       NaN       NaN
2022-01-03  1.062226       NaN       NaN  1.186872
2022-01-04       NaN       NaN       NaN       NaN
2022-01-05       NaN  1.395951       NaN       NaN
2022-01-06       NaN       NaN       NaN       NaN
2022-01-07       NaN  1.111062       NaN       NaN
2022-01-08       NaN       NaN       NaN  1.237396
2022-01-09       NaN       NaN       NaN       NaN
2022-01-10       NaN  1.427627  1.066729       NaN

In [39]:
#Let's add new column in a dataframe.
df2=df.copy()

In [40]:
df2["E"]=[1, 2, 6, 7, 8, 9, 1, 5, 7, 4 ]  #to add new column we must have equal values like other columns.

In [41]:
#mean calculation of a column
df2=df["A"].mean ()
df2

-0.23133162853038441

In [42]:
#mean calculation of multiple columns
df2 = df[["A","B"]].mean()
df2

A   -0.231332
B    0.101900
dtype: float64

In [43]:
# Using DataFrame.mean() to get entire column mean
df2=df.mean()
df2

A   -0.231332
B    0.101900
D   -0.062756
C    0.021295
dtype: float64

In [44]:
# Average of each column using DataFrame.mean()
df2 = df.mean(axis=0)
df2

A   -0.231332
B    0.101900
D   -0.062756
C    0.021295
dtype: float64

In [45]:
# Find the mean including NaN values using DataFrame.mean()
df2 = df.mean(axis = 0, skipna = False)
df2

A   -0.231332
B    0.101900
D   -0.062756
C    0.021295
dtype: float64

In [46]:
df2=df.mean (axis=1)
df2
#if we use axis=0, this will show the columns average or means.
#if we use axis=1, this will show the rows average or means.

2022-01-01   -0.163697
2022-01-02   -0.211033
2022-01-03    0.575656
2022-01-04    0.104752
2022-01-05    0.226164
2022-01-06   -0.527510
2022-01-07   -0.100640
2022-01-08   -0.022192
2022-01-09   -0.303191
2022-01-10   -0.005540
Freq: D, dtype: float64

In [47]:
df["averages"]=[-0.047092, -0.513282, -0.458314, 0.172232, 0.474960, 0.818430, 0.199202, 0.437431, -0.346657, -0.074653]
#after finding the means of rows, we can also add means in a new column like this.

In [48]:
df['mean'] = df.mean(axis=1) # this will directly add mean in a new column. we don't need to add like we did above.

In [49]:
df

                   A         B         D         C  averages      mean
2022-01-01  0.135332 -1.321516 -0.140575  0.671970 -0.047092 -0.140376
2022-01-02  0.360503 -0.331225  0.149142 -1.022554 -0.513282 -0.271483
2022-01-03  1.062226 -0.310675  0.364203  1.186872 -0.458314  0.368862
2022-01-04  0.841021  0.333299 -0.214869 -0.540444  0.172232  0.118248
2022-01-05 -0.394903  1.395951 -0.312918  0.216527  0.474960  0.275923
2022-01-06 -1.024692 -1.042177  0.551051 -0.594221  0.818430 -0.258322
2022-01-07 -2.105584  1.111062  0.289942  0.302018  0.199202 -0.040672
2022-01-08  0.393758  0.493581 -2.213503  1.237396  0.437431  0.069733
2022-01-09 -0.571681 -0.736928 -0.166763  0.262609 -0.346657 -0.311884
2022-01-10 -1.009297  1.427627  1.066729 -1.507219 -0.074653 -0.019363

In [50]:
df["median"]=df.median (axis=1)
df

,A,B,D,C,averages,mean,median
2022-01-01,0.135332,-1.321516,-0.140575,0.671970,-0.047092,-0.140376,-0.093734
2022-01-02,0.360503,-0.331225,0.149142,-1.022554,-0.513282,-0.271483,-0.301354
2022-01-03,1.062226,-0.310675,0.364203,1.186872,-0.458314,0.368862,0.366533
2022-01-04,0.841021,0.333299,-0.214869,-0.540444,0.172232,0.118248,0.145240
2022-01-05,-0.394903,1.395951,-0.312918,0.216527,0.474960,0.275923,0.246225
2022-01-06,-1.024692,-1.042177,0.551051,-0.594221,0.818430,-0.258322,-0.426271
2022-01-07,-2.105584,1.111062,0.289942,0.302018,0.199202,-0.040672,0.244572
2022-01-08,0.393758,0.493581,-2.213503,1.237396,0.437431,0.069733,0.415595
2022-01-09,-0.571681,-0.736928,-0.166763,0.262609,-0.346657,-0.311884,-0.329270
2022-01-10,-1.009297,1.427627,1.066729,-1.507219,-0.074653,-0.019363,-0.047008

In [51]:
useful=df.loc[:, ["averages", "median"]] #we can get most useful columns like this and use them.
useful

            averages    median
2022-01-01 -0.047092 -0.093734
2022-01-02 -0.513282 -0.301354
2022-01-03 -0.458314  0.366533
2022-01-04  0.172232  0.145240
2022-01-05  0.474960  0.246225
2022-01-06  0.818430 -0.426271
2022-01-07  0.199202  0.244572
2022-01-08  0.437431  0.415595
2022-01-09 -0.346657 -0.329270
2022-01-10 -0.074653 -0.047008

In [66]:
#finding mode
md=pd.Series([1,4,5,6,7,8,4,4,10])

In [69]:
md.mode ()

0    4
dtype: int64