In [3]:
# import library
import pandas as pd 
df=pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [6]:
df['gender']=df['gender'].replace('Male', 1)
df['gender']=df['gender'].replace('Female', 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [15]:
x=df[['weight', 'gender']]
y=df['likeness']
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [18]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
# creat and fit model
model=DecisionTreeClassifier().fit(x, y)
# Prediction
model.predict([[80, 1]])
model.predict([[52, 0]])

c:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
c:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [25]:
# splitting dataset
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.2, random_state=0)
# creating a model
model= DecisionTreeClassifier().fit(x_train, y_train)
# predicting values
y_pred= model.predict(x_test)
y_pred

# checking accuracy of model
score=accuracy_score(y_test, y_pred)
score

0.6122448979591837

In [26]:
# How to train and save model for future purposes
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
model=DecisionTreeClassifier().fit(x, y) # to run or train our model, i am fitting this model on whole dataset
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [31]:
# Loading and running saved model
loaded_model=joblib.load("foodie.joblib")
result = loaded_model.score(x, y)
result

0.763265306122449

In [40]:
# graph
from decimal import Rounded
from numpy import outer
from pandas import unique
from sklearn import tree
model= DecisionTreeClassifier().fit(x, y)
# graphiv evaluation
tree.export_graphviz(model,
                     out_file="foodie.dot",
                     feature_names=['age','gender'], 
                     class_names=sorted(y.unique()),
                     label= 'all', 
                     rounded=True, 
                     filled= True)