## Basic data structures in Python
For extensive study and practice: [Visit the website](https://www.w3schools.com/python/default.asp)

**1- Tuple**

**2- List**

**3- Dictionaries**

**4- Set**

## 1-Tuple
- 0rder collection of elements
- Enclosed in bracket () round braces or parenthesis
- Different kind of elements can be stored 
- 0nce elements are stored we cannot change them (unmutateable)

In [1]:
tup1= (1, "python", True, 10.2) #different kind of elements are present, i.e., integer, string, boolean operators and float.
tup1

(1, 'python', True, 10.2)

In [2]:
#type of a tuple
type(tup1)

tuple

### -indexing in Tuple

In [3]:
tup1[1]

'python'

In [4]:
tup1[0]

1

In [5]:
tup1[2]

True

In [6]:
tup1[3]

10.2

In [7]:
tup1[0:2]

(1, 'python')

In [8]:
tup1[0:5]

(1, 'python', True, 10.2)

In [9]:
tup1[-2]

True

In [10]:
#count of elements in tuple
len(tup1)

4

In [11]:
tup2= (2, "Baba", False, 3.6)
tup2

(2, 'Baba', False, 3.6)

In [12]:
#concatenate (addition of two or more than two tuples)
tup1+tup2

(1, 'python', True, 10.2, 2, 'Baba', False, 3.6)

In [13]:
#concatenate + repeat
tup1*2 + tup2

(1, 'python', True, 10.2, 1, 'python', True, 10.2, 2, 'Baba', False, 3.6)

In [14]:
tup3=(34,56,67,89,90,87,46)
tup3

(34, 56, 67, 89, 90, 87, 46)

In [15]:
#minimum value 
min(tup3)

34

In [16]:
#maximum value
max(tup3)

90

In [17]:
#tuple.count function
tup3.count(67)

1

In [18]:
#tuple.index function
tup3.index(87)

5

---

## 2- List
- Ordered collection of elements
- Enclosed in square [ ] braces/brackets
- Mutateable, we can change the value

In [19]:
list1= [23, "Hamza", 2.4, True]
list1

[23, 'Hamza', 2.4, True]

In [20]:
len(list1)

4

In [21]:
type(list1)

list

In [22]:
list1[2]

2.4

In [23]:
list1[3]

True

In [24]:
list2=[3, 5, "Aammar", "Codanics", 478, 53.2, False]
list2

[3, 5, 'Aammar', 'Codanics', 478, 53.2, False]

In [25]:
#concatenate
list1+list2

[23, 'Hamza', 2.4, True, 3, 5, 'Aammar', 'Codanics', 478, 53.2, False]

In [26]:
#concatenate + repeat
list1*2+list2

[23,
 'Hamza',
 2.4,
 True,
 23,
 'Hamza',
 2.4,
 True,
 3,
 5,
 'Aammar',
 'Codanics',
 478,
 53.2,
 False]

In [27]:
#reverse the list
list1.reverse()
list1

[True, 2.4, 'Hamza', 23]

In [28]:
#let's add something to the list
list1.append("We are learning python with Aammar")
list1

[True, 2.4, 'Hamza', 23, 'We are learning python with Aammar']

In [29]:
#list count function is used to count how many times an element is present in the list.
list1.count("We are learning python with Aammar")

1

In [30]:
#list clear function is used to clear all the elements in the list. 
list1.clear()

In [31]:
list1 # as we used list.clear function above, the list1 is empty now.

[]

In [32]:
#list.extend function is used to add elements at the end of the list.
fruits="mango", "apple", "jaman"
list2.extend(fruits)
list2

[3, 5, 'Aammar', 'Codanics', 478, 53.2, False, 'mango', 'apple', 'jaman']

In [33]:
#list.index function is used to find the index of a specific element, i.e, 478 is present at 4th place.
list2.index(478)

4

In [34]:
#list.insert function is used to add elements at a specific place.
list2.insert(5, "Air cooler")
list2

[3,
 5,
 'Aammar',
 'Codanics',
 478,
 'Air cooler',
 53.2,
 False,
 'mango',
 'apple',
 'jaman']

In [35]:
#list.remove function is used to remove the first occurrence of the element with the specified value.
list2.remove("Codanics") #Codanics has been removed

In [36]:
#list.pop function is used to delete the elements from a specific place.
list2.pop(6) #Mangoo has been deleted

False

In [37]:
#list.sort function is used to sort the elements in the list.
Mobiles=["samsung", "nokia", "qmobile", "sony"]
Mobiles.sort()
Mobiles   #alphabetically, order has been changed.

['nokia', 'qmobile', 'samsung', 'sony']

In [38]:
#copy function is used to return a copy of a list.
Mobiles=["samsung", "nokia", "qmobile", "sony"]
Mobiles.copy()

['samsung', 'nokia', 'qmobile', 'sony']

---

## 3- Dictionaries
- An unorderd collection of elements
- Key and values
- Curly braces or bracket { } 
- Mutateable

In [39]:
#Foods and their prices
food1= {"samosa":30, "pakora":45, "raita":10, "salad":10}   #here samosa is a key and it's price (30) is the value.
food1

{'samosa': 30, 'pakora': 45, 'raita': 10, 'salad': 10}

In [40]:
type(food1)

dict

In [41]:
#let's extract the data
keys1=food1.keys()

In [42]:
value1=food1.values()
value1

dict_values([30, 45, 10, 10])

In [43]:
#we can add new keys along with their values
food1["Tikki"]=10

In [44]:
food1

{'samosa': 30, 'pakora': 45, 'raita': 10, 'salad': 10, 'Tikki': 10}

In [45]:
#we can update the values #we can simply make changes in the data
food1["Tikki"]=15
food1

{'samosa': 30, 'pakora': 45, 'raita': 10, 'salad': 10, 'Tikki': 15}

In [46]:
food2={"Apple":200, "Chocolates":300, "Dates":500, "Banana":200}
food2

{'Apple': 200, 'Chocolates': 300, 'Dates': 500, 'Banana': 200}

In [47]:
#concatenate or update the food lists.
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 45,
 'raita': 10,
 'salad': 10,
 'Tikki': 15,
 'Apple': 200,
 'Chocolates': 300,
 'Dates': 500,
 'Banana': 200}

In [48]:
#pop function is used to remove the element with the specified key.
food1.pop("salad")

10

In [49]:
#clear function is used to clear all the element in dictionary.
food2.clear()
food2

{}

In [50]:
#copy function is used to return a copy of a dictionary.
food1.copy()

{'samosa': 30,
 'pakora': 45,
 'raita': 10,
 'Tikki': 15,
 'Apple': 200,
 'Chocolates': 300,
 'Dates': 500,
 'Banana': 200}

In [79]:
#fromkey function is used to add a specific value for different keys.
x="Chicken roll", "Naan", "Cold drink"
y=30
food1.fromkeys(x, y)

{'Chicken roll': (30, 40, 50),
 'Naan': (30, 40, 50),
 'Cold drink': (30, 40, 50)}

In [52]:
#get function is used to get the value of a specific key present in a dictionary.
food1.get("samosa")

30

In [53]:
#items function is used to get a list containing a tuple for each key value pair. #there is a parenthesis around each key and value, that's why we are calling it tuple.
food1.items()

dict_items([('samosa', 30), ('pakora', 45), ('raita', 10), ('Tikki', 15), ('Apple', 200), ('Chocolates', 300), ('Dates', 500), ('Banana', 200)])

In [54]:
#keys function is used to get a list containing the dictionary's keys.
keys2=food1.keys()
keys2

dict_keys(['samosa', 'pakora', 'raita', 'Tikki', 'Apple', 'Chocolates', 'Dates', 'Banana'])

In [55]:
#values function is used to get a list containing the dictionary's keys.
value2=food1.values()
value2

dict_values([30, 45, 10, 15, 200, 300, 500, 200])

In [56]:
food1={'samosa': 30, 'pakora': 45, 'raita': 10, 'salad': 10, 'Tikki': 15}
food1

{'samosa': 30, 'pakora': 45, 'raita': 10, 'salad': 10, 'Tikki': 15}

In [57]:
#popitem function is used to remove the last inserted key-value pair.
food1.popitem()

('Tikki', 15)

In [58]:
#setdefault function returns the value of the specified key. If the key does not exist, this value becomes the key's value.
food1.setdefault("pakora", 12) #the value of pakora has already fixed in the food1, that's why it shows 45 rather that 12.
food1.setdefault("Naan Roll", 30) #Naan Roll does no exist in the food1, hence 30 has become the value of Naan Roll (Key)

30

---

## 4-Set
- Unordered and unindexed 
- Curly braces or bracket { }
- No duplicates allowed

In [59]:
s1={1, 2.2, 55, "Codanics", "Faisalabad", True} #boolian operators will not be print.
s1

{1, 2.2, 55, 'Codanics', 'Faisalabad'}

In [60]:
#add function is used to add something
s1.add("Aammar") 
s1.add("Aammar") #no duplication
s1

{1, 2.2, 55, 'Aammar', 'Codanics', 'Faisalabad'}

In [61]:
#remove function is used to remove something
s1.remove("Aammar")
s1

{1, 2.2, 55, 'Codanics', 'Faisalabad'}

In [62]:
#copy function is used to return a copy of the set.
s1.copy()

{1, 2.2, 55, 'Codanics', 'Faisalabad'}

In [63]:
s2={5, 7.5, "computer", "bioinformatic", True}
s2

{5, 7.5, True, 'bioinformatic', 'computer'}

In [64]:
#clear function is used to remove all the element in a set.
s2.clear()
s2

set()

In [65]:
s3={26, 52.4, "Call of Duty", "Faisalabad", "Codanics"}
s3

{26, 52.4, 'Call of Duty', 'Codanics', 'Faisalabad'}

In [66]:
#difference function returns a set containing the difference between two or more sets
dif1=s1.difference(s3) #this will return a set that has difference from s3.
dif1
dif2=s3.difference(s1) #this will return a set that has difference from s1.
dif2

{26, 52.4, 'Call of Duty'}

In [67]:
#difference_update function is used to remove the items in this set that are also included in another, specified set.
s1.difference_update(s3)
s1

{1, 2.2, 55}

In [68]:
#discord function is used to remove a specific item in a set.
s3.discard("Codanics")
s3

{26, 52.4, 'Call of Duty', 'Faisalabad'}

In [69]:
#intersection function returns a set, that is the intersection of two or more sets
a={"Apple", "Banana", "Rice", "Mangoo"}
b={"Rice", "Strawberry", "Juice", "Jaman"}
z=a.intersection(b)
z

{'Rice'}

In [70]:
#intersect_update function removes the items in a set that are not present in other, specified set(s)
x={"Ali", "Akram", "Zeeshan", "Human", "Error"}
y={"Zeeshan", "Faizan", "Ali", "Video"}
x.intersection_update(y)
x

{'Ali', 'Zeeshan'}

In [71]:
#isdisjoint function is used to check whether two sets have a intersection or not.
c={"Ali", "Akram", "Zeeshan", "Human", "Error"}
d={"Misbah", "Akram", "Afridi", "Babar", "Imad"}
c.isdisjoint(d)

False

In [72]:
#issubset function is used to check whether another set contains this set or not.
e={1, 2, 3, "a", "b", "c"}
f={"c", "b", "a", 3, 2, 1}
sub_set=e.issubset(f)
sub_set

True

In [73]:
#isuperset function is used to check whether this set contains another set or not.
h={"h", "a", "b", "c"}
i={"a", "b", "c"}
h.issuperset(i)

True

In [74]:
#pop function is used to remove an element from the set one by one.
fruits={"Apple", "Mangoo", "Banana", "Cherry", "Jaman"}
f=fruits.pop()
f

'Mangoo'

In [75]:
#symmetric_difference function returns a set with the symmetric differences of two sets.
j={"Bricks", "Soil", "Structure", "Dry"}
k={"Heat", "Store", "Bricks"}
j.symmetric_difference(k)

{'Dry', 'Heat', 'Soil', 'Store', 'Structure'}

In [76]:
#symmetric_difference_update function inserts the symmetric differences from a set and another.
j.symmetric_difference_update(k)
j

{'Dry', 'Heat', 'Soil', 'Store', 'Structure'}

In [77]:
#union function returns a set containing the union of sets 
j.union(k)

{'Bricks', 'Dry', 'Heat', 'Soil', 'Store', 'Structure'}

In [78]:
#update function is used to update the current set, by adding items from another set (or any other iterable).
#If an item is present in both sets, only one appearance of this item will be present in the updated set.
j.update(k)
j

{'Bricks', 'Dry', 'Heat', 'Soil', 'Store', 'Structure'}